.modal-content {
  border: 1px solid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  // background: white;
  padding: 20px;
  border-radius: 25px;
  width: 500px;
  background-color: #100333;
}

.add {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding-bottom: 20px;
}
.title,
.date,
.from-time,
.to-time {
  display: flex;
  font-size: 20px;
  color: white;
  padding-bottom: 20px;
  // float: left;
  position: relative;
}
.title .title-text,
.date .date-text,
.from-time .from-text,
.to-time .to-text {
  width: 50px;
}
.title input,
.date input,
.from-time input,
.to-time input {
  width: 80%;
  font-size: 16px;
  margin-left: 20px;
  padding: 10px;
  border: 2px solid #bd2e7a;
  border-radius: 15px;
  // float:right;
}
.title input,
.date input,
.from-time input,
.to-time input:focus {
  outline: none;
  border-color: #bd2e7a;
}
.form-error{
  position: absolute;
  top: 55px;
  left:120px;
  z-index: 1;
  box-shadow: 0px 2px 8px #999999;
  
}
.form-error-angle{
  position: absolute;
  top: -11px;
  left: 20px;
  color: white;
  font-size: 20px;
}
.form-error-text{
  font-size: 14px;
  padding: 5px;
  color: black;
  // border: 1px solid black;
  border-radius: 4px;
  background-color: white;
}