.agenda {
  width: 22%;
  position: fixed;
  right: 0;

  color: white;
  text-align: center;
  top: 120px;
  overflow-y: auto;
  max-height: 85vh;
}
.agenda::-webkit-scrollbar {
  display: none;
}
.day-planner {
  font-size: 20px;
  font-weight: bold;
}
.event-notes {
  cursor: pointer;
  background-color: #bd2e7a;
  color: white;
  margin: 20px;
  border-radius: 8px;
  padding: 10px 20px;
  text-align: left;
  box-shadow: 5px 5px 2px #f5d6e7;
}
.event-icon{
  position: absolute;
  top: 100;
  right: 40px;
}
.event-notes .title,
.event-notes .from-time {
  display: flex;
  font-size: 18px;
  padding-bottom: 5px;
}
.event-notes .title-text,
.event-notes .from-text {
  width: 70px;
  font-weight: bold;
}
