.delete-modal .modal-content {
  width: 300px;
}
.delete-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.delete-button .primary-button {
  margin-right: 0px;
  margin: 5px;
}
