.display-time {
  display: flex;
  width: 100%;
}
.time-chart {
  position: relative;
  top: 30px;
  width: 70%;
  border: 1px solid white;
  display: flex;
  background-color: white;
  max-height: 82vh;
  overflow-y: auto;
  border-radius: 25px;
  margin-left: 5px;

}
.time-chart::-webkit-scrollbar {
  display: none;
}

.day {
  padding: 20px;
  border-radius: 25px;
  font-size: 20px;
  font-weight: bold;
  position: fixed;
  background-color: white;
  z-index: 1;
  width: 49%;

}
.day-angle {
  padding-left: 40px;
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.day-date {

  text-align: center;
}
.calendar-day {
  // margin-left: 20px;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  width: 5%;
  padding-right: 20px;
}

.grid-item {
  position: relative;
  top: 144px;
  height: 51px;
  text-align: right;
  font-size: 12px;
}
.row {
  display: grid;
  grid-template-columns: auto;
  width: 88%;
  position: relative;
  top: 100px;
}
.horizontal-bar {
  height: 50px;
  border-top: 1px solid;
  border-left: 1px solid;
}

.display-eventbar {
  font-weight: bold;
  position: absolute;
  padding-left: 10px;
  margin-left: 1px;
  width: 100%;
  background-color: #f9bbdc90;
  color: #bd2e7a;
  border-left: 5px solid #bd2e7a;
  box-sizing: border-box;
  align-items: center;
  display: flex;
}

.event-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
}

.dot-icon {
  padding: 10px;
  cursor: pointer;
}

.menu {
  position: absolute;
  border: 1px solid;
  top: 35px;
  right: 30px;
  padding: 10px;
  background-color: #100333;
  color: white;
  border-radius: 4px;
  width: 15%;
  text-align: center;
  z-index: 1;
}
.menu-inactive {
  display: none;
}
