.edit {
  padding: 5px 0px;
  cursor: pointer;
}
.delete {
  padding: 5px 0px;
  cursor: pointer;
}
.edit:hover {
  background-color: #dbcffc;
  color: #100333;
}

.delete:hover {
  background-color: #dbcffc;
  color: #100333;
}
