.main-calendar {
  position: relative;
  top: 35px;
  left: 30px;
}
.main-calendar .calendar-month {
  display: none;
}
.main-calendar .calendar-angle {
  display: none;
}
.main-calendar .calendar-container {
  width: 95%;
  height: 80vh;
  z-index: -1;
  color: black;
  background-color: white;
  border-radius: 8px;
  box-shadow: none;
}
.main-calendar .calendar-week {
  box-shadow: 2px 2px 2px #ede7fe;
  color: #100333;
}
.main-calendar .calendar-item {
  display: inline;
  text-align: center;
  box-shadow: 2px 2px 2px #ede7fe;
  color: #100333;
}

.main-calendar .calendar-item:hover {
  background-color: #ede7fe;
}
.main-calendar .today {
  position: relative;
  left: 40%;
  width: 25%;
  height: 35%;
  border-radius: 100%;
}

.main-calendar .display-event {
  display: block;
  padding: 2px;
  font-size: 14px;
  font-weight: bold;
  background-color: #dbcffc;
  border-left: 5px solid #100333;
  color: #100333;
  margin-bottom: 2px;
}
.main-calendar .hover-display-event {
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  background-color: #dbcffc;
}
.main-calendar .hover-display-event:hover {
  background-color: #dbcffc;
  border-left: 5px solid #100333;
  color: #100333;
}
.main-calendar .drop-icon {
  margin-top: 2px;
  float: right;
}
.main-calendar .dropdown-content {
  display: block;
  position: absolute;
  background-color: white;
  box-shadow: 0px 2px 8px #999999;
  z-index: 1;
  width: 160px;
  max-height: 60px;
  overflow-y: auto;
}
.main-calendar .dropdown-content::-webkit-scrollbar {
  width: 6px;
}
.main-calendar .dropdown-content::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.main-calendar .dropdown-content::-webkit-scrollbar-thumb {
  background: #100333;
}
