.right-navigation,
.right-iconclick {
  position: absolute;
  left: 370px;
  right: 0px;
  width: calc(76%-369px);
  top: 80px;
  z-index: -1;
  overflow-x: hidden;
  overflow-y: hidden;
  background-image: linear-gradient(#100333, #bd2e7a);
  height: calc(100vh - 80px);
}

.error-container {
  position: absolute;
  z-index: 1;
  right: 0px;
  bottom: 0;
  border: 2px solid #fb9e00;
  margin: 26px;
  width: 25%;
  height: 10%;
  background-color: #ffda99;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: move 1s;
}
@keyframes move {
    from {
      right: -500px;
    }
    to {
      right: 0px;
    }
  }
.x-mark {
  position: absolute;
  top: 0;
  right: 0;
  color: #cc0000;
  margin: 10px;
  cursor: pointer;
}
.error-message {
  font-weight: bold;
  padding: 10px
}



.month {
  padding: 20px;
}

.text {
  font-size: 20px;
  font-weight: bold;
}
.display-month {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 10px;
}
.display-day {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 51%;
  background-color: white;
  z-index: 2;
}

