.header{
    position: fixed;
    // top: 0;
    right: 0;
    left: 0;
    // bottom: 0;
    // z-index: 1;
    // background-color: white;
    padding: 5px;
    display: flex;
    // border: 1px solid #d9d9d9;
    // box-shadow: 0px 2px 8px #b3b3b3;
    justify-content: space-between;
    align-items: center;
    background-color: #100333;
    // background-image: linear-gradient( #100333,#160448);
}
// .left-side {
//     float: left;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }
// .right-side{
//     float: right;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }

.bar-icon{
    font-size: 20px;
    color: white;
    margin: 10px;
    cursor: pointer;
}
.calendar{
    font-size: 30px;
    font-weight: 400;
    margin: 10px;
    cursor: context-menu;
    color: white;
}
.search-box{
    border: 2px solid #BD2E7A;
    border-radius: 15px;
    padding: 5px;
    background-color: white;
}
.search-icon{
    margin-left: 5px;
}
.text-area{
    border: none;
    font-size: 14px;
    margin-left: 10px;
    height: 20px;
}
.text-area:focus{
    outline: none;
}
.today-button{
    background-color:#BD2E7A;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
}
.year{
    font-size: 40px;
    font-weight: bolder;
    color: white;
    padding-right: 20px;
}

.header .calendar-angle{
    color: white;
    font-size: 20px;
}
.header .calendar-month{
    color: white;
    font-size: 20px;
    font-weight: bold;
}