.header{
    position: fixed;
    // top: 0;
    right: 0;
    left: 0;
    // bottom: 0;
    // z-index: 1;
    // background-color: white;
    // padding: 5px;
    // display: flex;
    // border: 1px solid #d9d9d9;
    // box-shadow: 0px 2px 8px white;
    // justify-content: space-between;
    // align-self: center;
    // height: 80px;
    background-color: #100333;
    // background-image: linear-gradient( #100333,#160448);
    // z-index: 3;
    box-shadow: 0px 3px 10px #ede7fe;
}
.left-side {
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    height: 80px;
}
.right-side{
    float: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 38%;
}

.bar-icon{
    font-size: 20px;
    color: white;
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.bar-icon .calendar{
    font-size: 25px;
    font-weight: 400;
    margin: 10px 20px;

    cursor: context-menu;
    color: white;
    
}
.search-box{
    border: 2px solid #BD2E7A;
    border-radius: 15px;
    padding: 5px;
    background-color: white;
    width: 210px;

}
.search-icon{
    margin-left: 5px;
}
.text-area{
    border: none;
    font-size: 14px;
    margin-left: 10px;
    height: 20px;
}
.text-area:focus{
    outline: none;
}
.today-button{
    // background-color:#BD2E7A;
    border: 1px solid #BD2E7A;
    // color: white;
    padding: 10px 25px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    color: #BD2E7A;
    background-color:#f5d6e7;
    font-weight: bold;
}
.view-by .primary-button{
    border-radius: 8px;
    font-size: 14px;
    margin-right:0px ;
    color: #BD2E7A;
    background-color:#f5d6e7;
    font-weight: bold;
}
.isactive{
    color: white;
    background-color: #BD2E7A;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 8px;
    font-size: 14px;
    margin-right:0px ;
    cursor: pointer;
    font-weight: bold;

}
.primary-button{
    text-decoration: none;
    // border: 2px solid;
    padding: 10px 25px;
    border-radius: 25px;
    color: white;
    background-color: #BD2E7A;
    font-size: 16px;
    cursor: pointer;
    margin-right:10px ;
    // margin-bottom: 10px;
    // z-index: -1;
}
.view-by{
    // font-size: 40px;
    // font-weight: bolder;
    // color: white;
    // padding-right: 20px;
    width: 280px;
    // border: 1px solid;
    border-radius: 8px;
    color:white;
    // height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
    background-color: white;
    // box-shadow: 0 10px 6px -6px #777;
}

.header .calendar-angle{
    color: white;
    font-size: 20px;
}
.header .calendar-month{
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.calendar-year{
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 80px;
    // border: 1px solid white;
    height: 22px;
}
.suggestion{
    background-color: white;
    color: black;
    padding: 10px 22px;
    width: 180px;
    // border-radius: 4px;
    cursor: pointer;
}
.suggestion:hover{
    background-color: #f5d6e7;
    color: #BD2E7A;
}
.suggestion-container
{ 
    height: 30px;
}
.suggestion-box{
    // border: 1px solid;
    // height: 180px;
    border-radius: 4px;
    max-height: 180px;
    background-color: white;
    box-shadow: 0px 2px 8px #999999;
    overflow-y: auto;
}
.suggestion-box::-webkit-scrollbar {
    display: none;
  }
.calendar-icon{
    font-size: 40px;
    color: white;
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;

}
.control-yearmonth{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
}

.year-angle{
    cursor: pointer;
    margin-left: 5px;
}
.year-dropdown{
    background-color: white;
    color: black;
    // padding-left: 10px;
    padding:2px 2px 2px 10px;
    // border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    // text-align: center;
    cursor: pointer;
}
.month-container{
    position: absolute;
    top:60px;
    text-align: left;
    width: 120px;
    box-shadow: 0px 2px 8px #999999;
    background-color: white;
    border-radius: 4px;
    max-height: 180px;
    overflow-y: auto;
}
.year-dropdown:hover{
    background-color: #f5d6e7;
    color: #BD2E7A;
}
.dropdown-container{
    box-shadow: 0px 2px 8px #999999;
    background-color: white;
    width: 70px;
    border-radius: 4px;
    max-height: 180px;
    overflow-y: auto;
}
.dropdown-container::-webkit-scrollbar {
    display: none;
  }
  .month-container::-webkit-scrollbar {
    display: none;
  }

  .month-angle{
    margin-top: 6px;
  }