.left-navigation{
    // border: 1px solid green;
    // width: 25%;
    height: 100vh;
    width: 376px;
    
    padding: 0px 20px;
    height: calc(100vh - 60px);
    box-sizing: border-box;
    position: fixed;
    top:80px;
    background-image: linear-gradient(#100333, #BD2E7A);
    // opacity: 1;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: hidden;

    // position: absolute;
   
    // height: calc(100vh - 70px);
    // text-align: center;
    // height: calc(100vh - 70px);
    // background-image: linear-gradient(#100333, #BD2E7A);
    // background-color: #250778;
    // background-color:#ebadce;

}
.left-iconclick{
    display: none;
}


.plus{
    padding: 5px;
}
.create{
    margin-left: 100px;
    margin-top: 100px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 25px;
    padding: 10px 25px;
    background-color:#BD2E7A;
    border: none;
    color: white;
    margin-bottom: 20px;
}

.overlay {
    background-color: rgba(49,49,49,0.8);
    // background-color: #100333;
    //  background-image: linear-gradient(90deg,#BD2E7A 0%,#100333 100%);
    //  opacity: 0.5;
}

.modal-content {
    border: 1px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: white;
    padding: 20px;
    border-radius: 25px;
    width: 500px;
    // min-width: 300px;
    // z-index: 2;
    background-color: #100333;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    // z-index: 10;
}
// .main-calendar .calendar-container{
//     opacity: 0;
// }

body.active-modal {
    overflow-y: hidden;
}

.title ,.date ,.from-time ,.to-time{
    display: flex;
    font-size: 20px;
    color:white;
    padding-bottom: 20px;
    // float: left;
}
.title .title-text,.date .date-text,.from-time .from-text,.to-time .to-text{
width: 50px;
}
.title input ,.date input ,.from-time input,.to-time input{
    width: 80%;
    font-size: 16px;
    margin-left: 20px;
    padding: 10px;
    border: 2px solid #BD2E7A;
    border-radius: 15px;
    // float:right;
}
.title input ,.date input ,.from-time input,.to-time input:focus{
    outline: none;
    border-color: #BD2E7A;
}

.add{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding-bottom: 20px;
}

.modal button{
    float:right;
}
