.right-navigation,.right-iconclick{
    position:absolute;
    right: 0px;
    width: 76%;
    // border: 1px solid black;
    // background-image: linear-gradient(#100333, #BD2E7A);
    // height: 100vh;
    top:80px;
    z-index: -1;
    // border-radius: 25px;
    overflow-x: hidden;
    overflow-y: hidden;
    
    // left:380px;
    // overflow-x: hidden;
    // overflow-y: hidden;
    background-image: linear-gradient(#100333, #BD2E7A);
    // border: 2px solid black;
    // padding: 20px;
    height: calc(100vh - 80px);
    // background-image: linear-gradient(90deg, #BD2E7A 0%, #1673F4 100%);
    // background-image: linear-gradient(90deg,#bd2e7a 0%,#6a16ac 100%);
    // background-color: #ebadce;
    // background-image: linear-gradient(#160448, #b79ff9);
}

.right-iconclick{
    width:100%;

    .display-day{
        width: 100%;
    }
    .agenda{
        width: 30%;
    }
    
    // padding: 20px;
}
.grid-container{
    display: grid;
    grid-template-columns: auto ;
    width: 5%;
    padding-right: 20px;   
}
.grid-item{
    position: relative;
    top: 144px;
    height: 51px;
    text-align: right;
    font-size: 12px;
}
.row{
    display: grid;
    grid-template-columns: auto ;
    width: 88%;
    position: relative;
    top:100px;
    // padding: 10px;
}
.horizontal-bar{
    // padding: 25px;
    height: 50px;
    border-top: 1px solid;
    border-left: 1px solid;
    // z-index: 1;
}
.horizontal-bar:last-child{
    border-bottom: 1px solid;
}
.time-chart{
    position: relative;
    top: 30px;
    width: 70%;
    border: 1px solid white;
    display: flex;
    background-color: white;
    max-height: 82vh;
    overflow-y: auto;
    border-radius: 25px;
    margin-left: 5px;
    // box-shadow: 5px 10px 2px #f5d6e7;
    // padding-top: 100px;
    // position: absolute;
    // top:90px;
    // width: 1000px;
    // width: 78%;
}
.time-chart::-webkit-scrollbar {
    display: none;
  }
.month{
    padding: 20px;
    // width: 70vw;
}
.day{
    padding: 20px;
    border-radius: 25px;
    // width: 100px;
    
    font-size: 20px;
    font-weight: bold;
    position: fixed;
    background-color: white;
    z-index: 1;
    width: 50%;
}
.day div{
    padding-left: 40px;
    // text-align: center;
}
.main-calendar{
    position: relative;
    top: 20px;
}
.main-calendar .calendar-month {
   display: none;
}
.main-calendar .calendar-angle{
    display: none;
}
.main-calendar .calendar-container{
    width: 100%;
    // opacity: 0;
    height: 80vh;
    // height: 550px;
    z-index: -1;
    color: black;
    background-color: white;
    border-radius: 8px;
    box-shadow: none ;
}
.main-calendar .calendar-week{
    // border-bottom: 1px solid;
    // border-right: 1px solid;
    box-shadow: 2px 2px 2px #ede7fe;
    color: #100333;
    // box-sizing: border-box;
    // border-radius: 25px;
    // height: 100%;
}
.main-calendar .calendar-item{
    // border-bottom: 1px solid;
    // border-right: 1px solid;
    display: inline;
    text-align: center;
    box-shadow: 2px 2px 2px #ede7fe;
    color: #100333;
    // border: 1px solid black;
    // box-sizing: border-box;
    // height: 100%;
    // border-radius: 25px;
    max-height: 100px;
    overflow-y:auto ;
}
.main-calendar .calendar-item::-webkit-scrollbar {
    width: 6px;
  }
  .main-calendar .calendar-item::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  .main-calendar .calendar-item::-webkit-scrollbar-thumb {
    background: #100333; 
  }
.main-calendar .calendar-item:hover{
    background-color: #ede7fe;
}
// .main-calendar .calendar-item:nth-child(7n){
//     // border-bottom: none;
//     border-right: none;
// }
.main-calendar .today{
    position: relative;
    left:40%;
    width: 25%;
    height: 35%;
    border-radius: 100%;
}
.main-calendar  .display-date{
    // position: fixed;
    // display: inline;
    // text-align: center;
    // padding-bottom:100px ;
    // bottom: 10;
    // height: 10px;
}
.main-calendar .display-event{
    display: block;
    padding: 2px;
    font-size: 14px;
    font-weight: bold;
    background-color: #dbcffc;
    border-left: 5px solid #100333;
    color: #100333;
    margin-bottom: 1px;
    // border-radius: 25px;
    // width: 20%;
}
.text{
    // padding: 10px;
    font-size: 20px;
    font-weight: bold;
}
.display-month{
    display: flex;
    // justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 10px;
   
}
.display-day{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 51%;
    background-color: white;
    z-index: 2;
}

.event-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
}
.display-eventbar{
    font-weight: bold;
    position:absolute;
    padding-left: 10px;
    margin-left:1px ;
    width: 100%;
    // background-color: rgba(242, 175, 212, 0.3);
    background-color: #f9bbdc90;
    color: #BD2E7A;
    border-left:5px solid #BD2E7A;
    // left:75px;
    box-sizing: border-box;
    // padding-top: 100px;
    align-items: center;
    display: flex;
    // cursor: pointer;
    // opacity: 1;
}

.agenda{
    // border:1px solid white;
    // width: 30%;
    width: 22%;
    position: fixed;
    right: 0;
    // height: 100%;
    // background-color: #100333;
    color: white;
    text-align: center;
    top:120px;
    overflow-y: auto;
    max-height: 85vh;
    // padding-top:10px ;
    // border-radius: 4px;
    // z-index: 1;
}
.agenda::-webkit-scrollbar {
    display: none;
  }
.day-planner{
    font-size: 20px;
    font-weight: bold;
}
.event-notes{
   background-color: #BD2E7A;
   color: white;
   margin: 20px;
   border-radius: 8px;
   padding:10px 20px;
   text-align: left;
   box-shadow: 5px 5px 2px #f5d6e7;
}
.event-notes .title ,.event-notes .from-time{
    font-size: 18px;
    padding-bottom: 5px;
    
}
.event-notes .title-text ,.event-notes .from-text{
    width: 70px;
    font-weight: bold;
}

.xmark{
    position: absolute;
    right: 0;
    padding-right: 20px;
    font-size: 25px;
    cursor: pointer;
}
.menu{
    position: absolute;
    border: 1px solid ;
    top:35px;
    right: 30px;
    padding: 10px;
    background-color: #100333;
    color: white;
    border-radius: 4px;
    width: 15%;
    text-align: center;
    z-index: 1;
    // height: 100%;
}
.menu-inactive{
    display: none;
    // background-color: white;
}
.dot-icon{
    padding: 10px;
    cursor: pointer;
}
.edit{
    padding: 5px 0px;
    cursor: pointer;
}
.delete{
    padding: 5px 0px;
    cursor: pointer;    
}
.edit:hover{
    background-color:  #dbcffc;
    color: #100333;
}

.delete:hover{
    background-color:  #dbcffc;
    color: #100333;
}
.delete-button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.delete-button .primary-button{
    margin-right: 0px;
    margin:5px;
}
.delete-modal .modal-content{
    width: 300px;
}

.display-time{
    display: flex;
    width: 100%;
}
.chart{
    width: 77%;
}
.error-container{
    position: absolute;
    z-index: 1;
    right: 0px;
    bottom: 0;
    box-shadow: 1px 2px 5px 5px #ff3333;
    margin: 26px;
    width: 25%;
    height: 20%;
    background-color: #ffe6e6;
    border-radius: 8px;
    // text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: move 2s;
    
}
@keyframes move {
    from {right: -500px;}
    to {right: 0px;}
  }
.error-message{
    // font-size: 20px;
    font-weight:bold ;
}
.x-mark{
    position: absolute;
    top: 0;
    right: 0;
    color: red;
    margin: 20px;
}
