.right-navigation,.right-iconclick{
    position:absolute;
    // left:380px;
    right: 0px;
    width: 75%;
    top:68px;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: hidden;
    // background-image: linear-gradient(#100333, #BD2E7A);
    // border: 2px solid black;
    // padding: 20px;
    // height: calc(100vh - 70px);
    // background-image: linear-gradient(90deg, #BD2E7A 0%, #1673F4 100%);
    // background-image: linear-gradient(90deg,#bd2e7a 0%,#6a16ac 100%);
    // background-color: #ebadce;
    // background-image: linear-gradient(#160448, #b79ff9);
}
.right-iconclick{
    width:100%;
    
    // padding: 20px;
}
.grid-container{
    display: grid;
    grid-template-columns: auto ;
    width: 5%;
    padding-right: 20px;   
}
.grid-item{
    position: relative;
    top:42px;
    height: 10px;
    text-align: right;
    font-size: 12px;
}
.row{
    display: grid;
    grid-template-columns: auto ;
    width: 60%;
    // padding: 10px;
}
.horizontal-bar{
    // padding: 25px;
    height: 50px;
    border-top: 1px solid;
    border-left: 1px solid;
    z-index: 1;
}
.time-chart{
    display: flex;
}
.month{
    padding: 20px;
    // width: 70vw;
}
.day{
    padding-left: 35px;
    margin: 20px;
    width: 100px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.main-calendar .calendar-month {
   display: none;
}
.main-calendar .calendar-angle{
    display: none;
}
.main-calendar .calendar-container{
    width: 100%;
    // opacity: 0;
    height: 75vh;
    // height: 550px;
    z-index: -1;
    color: black;
    background-color: white;
}
.main-calendar .calendar-week{
    border-bottom: 1px solid;
    border-right: 1px solid;
    // box-sizing: border-box;
    // border-radius: 25px;
    // height: 100%;
}
.main-calendar .calendar-item{
    border-bottom: 1px solid;
    border-right: 1px solid;
    display: inline;
    text-align: center;
    // box-sizing: border-box;
    // height: 100%;
    // border-radius: 25px;
}
// .main-calendar .calendar-item:nth-child(7n){
//     // border-bottom: none;
//     border-right: none;
// }
.main-calendar .today{
    position: relative;
    left:40%;
    width: 25%;
    height: 35%;
    border-radius: 100%;
}
.main-calendar .display-event{
    display: block;
    padding: 2px;
    font-size: 14px;
    font-weight: bold;
    background-color: #dbcffc;
    border-left: 5px solid #100333;
    color: #100333;
    // border-radius: 25px;
    // width: 20%;
}
.text{
    // padding: 10px;
    font-size: 20px;
    font-weight: bold;
}
.display-month{
    display: flex;
    // justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 10px;
}
.display-day{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.primary-button{
    text-decoration: none;
    // border: 2px solid;
    padding: 10px 25px;
    border-radius: 25px;
    color: white;
    background-color: #BD2E7A;
    font-size: 16px;
    cursor: pointer;
    margin-right:10px ;
    // margin-bottom: 10px;
    // z-index: -1;
}
.display-eventbar{
    font-weight: bold;
    position:absolute;
    padding-left: 10px;
    margin-left:1px ;
    width: 60%;
    background-color: #f5d6e7;
    color: #BD2E7A;
    border-left:5px solid #BD2E7A;
    // left:75px;
    box-sizing: border-box;
}
