.features{
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    // background-image: linear-gradient(90deg,#bd2e7a 0%,#6a16ac 100%);
    // background: linear-gradient(#100333, #BD2E7A);
    // padding: 400px;
}

